@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cinzel:wght@500&family=Merriweather&family=Monoton&family=Vollkorn:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cinzel:wght@500&family=Merriweather&family=Monoton&family=Oleo+Script&family=Vollkorn:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Merriweather&family=Monoton&family=Vollkorn:ital,wght@1,600&display=swap');
*{
    box-sizing: border-box;
}
.AM{

    height: 100vh;
    width: 100%;
    background-color: rgb(67, 67, 67);
    background-size: cover;
    background-position: center;
    background-image: url(document/image.jpg);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    display: flex;
    color: rgb(0, 23, 43);
    font-size: 40px;
    letter-spacing: 3px;
    cursor: pointer;
    

}
.abhi{
    font-family: 'Bungee Inline', cursive;
    font-size: 50px;
    color:rgb(0, 229, 255);
    background-color: rgb(5, 5, 4);
    border-radius: 70px;
    padding: 2px;
    
}
.portfolio{
    color:rgb(52, 24, 41);
    font-size:45px ;
    letter-spacing:5px;
    font-size: 50px;
    padding-left: 15%;
    padding-top: 12%;
    padding-inline-start: 20px;
    padding-top: 40px;
}


span{
    padding-left:3%;
    color: rgb(246, 210, 7);
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(8, 33, 96);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
nav ul li a:hover{
    color: rgb(0, 255, 225);
    transition: .45;
}
.content{
    position: absolute;
    top: 40%;
    left: 12%;
    text-transform: capitalize;
    margin: 0 auto;
    align-items: left;
    
    
}
h1{
    color:rgb(52, 24, 41);
    margin:20px 0px 20px;
    font-size:70px;
    
}
h3{
    color: rgb(1, 255, 225);
    font-size: 27px;
    margin-bottom: 40px;
    text-transform: none
    
}
h4{
    color: rgb(247, 247, 247);
    font-size: xx-large;
    letter-spacing: 3px;
}
.container{
    
     margin: 10px 30px 10px;
     position: absolute;
     top:37%;
    
}
.image{
    padding-left:1100px;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(5, 5, 5);
    
}
.about img{
    padding-right: 100px;
    padding-top: 20px;
    
    
}
.about-text{
    width: 550px;
}
.main{
width:1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: left;
justify-content: space-around;

}
.about-text h2{
    color:rgb(0, 255, 255);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    position:absolute;
    top:15px;
    right:3px;
    background-color:rgb(52, 24, 41) ;
    padding:5px 5px;
    padding-inline-start: 20px;
    margin-right: 5px;
    border: 2px solid white;
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: rgb(255, 80, 98);
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 700;
}
button{
    background-color: rgba(4, 2, 2, 0.697);
    color: rgb(255, 101, 101);
    text-decoration: none;
    border: 3px solid rgb(248, 246, 246);
    font-weight: bold;
    font-size: 15px;
    padding: 8px 25px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 20px;
}
button:hover{
    background-color:  rgb(209, 198, 198);
    color:black;
}

.service{
    background: #111;
    width: 100%;
    padding: 80px 0px;
}
.title h2{
    color: rgb(0, 255, 255);
    font-size: 60px;
    width: 350px;
    margin: 30px auto;
    text-align: center;
    background-color: rgb(51, 4, 43);
    border: 5px solid white;
    border-radius: 20px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding-top: 50px;
}
.card{
    height: 350px;
    width: 300px;
    padding:20px 35px ;
    background: rgb(26, 0, 22);
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border:5px solid rgb(255, 255, 255) ;
    border-radius: 30px;
}
.card i{
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(209, 53, 79);
    
}
h5{
    color:rgb(0 255 255);
    font-size: 30px;
    margin-bottom: 15px;
    position: absolute;
    top: 50px;
    right: 70px;
}
.pra p{
    color:rgb(252, 219, 170);
    font-size: 19px;
    letter-spacing: 1px;
    padding-top: 60px;
    margin-top: 17px;
}
.card .button{
    background-color:rgba(255, 122, 195, 0.989) ;
    color:rgb(0, 0, 70);
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 50px;
}
.card .button:hover{
    background-color: rgb(40, 86, 255);
    color: rgb(220, 255, 210);
    cursor: pointer;
}
.contactam{
    width:99.5%;
    height:290;
    background: rgb(50, 57, 70);
    display: flex;
    align-items: center;
    border: 4px solid rgb(16, 239, 255);
    flex-direction: column;
    padding: 5px 0px;
    justify-content: center;
}
.contactam p{
    color:rgb(92, 250, 255);
    font-size: 30px;
    font-weight: bold;
    
    background-color: rgb(14, 0, 32);
    border-radius: 5px;
}
.contactam .buttontwo{
    background-color:rgb(228, 144, 144) ;
    color:rgb(14, 14, 14) ;
    text-decoration: none;
    border: 3px solid rgb(255, 255, 255);
    font-weight: bold;
    padding:7px 20px;
    border-radius: 50px;
    transition: .4s;
    margin-bottom: 50px;
}
.contactam .buttontwo:hover{
    background-color:rgb(69, 15, 15);
    color: rgb(255, 198, 138);
    border: 3px solid plum;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height:400px;
    background: rgb(32, 22, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 50px;
    color: #ffe8a9;
    margin-bottom:20px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Oleo Script', cursive;
    
}
footer p:nth-child(2){
color: white;
font-size: 19px;
width: 500px;

text-align: center;
line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(53, 52, 52);
    border-radius: 50%;
    margin:22px;
    color: rgb(255, 238, 0);
    text-decoration: none;
    font-size: 20px;    
}
.social a:hover{
    transform:scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: rgb(255, 128, 128);
    bottom: 20px;
    font-size: 15px;
}

